# Data Science Tools and Ecosystem

## Author
Tilman Eckert

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List common tools used in Data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. C and C++
5. Javascript
6. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scrapy
2. NumPy
3. Pandas
4. SciPi
5. Pytorch
6. TensorFlow
7. MatPlotLib

| Data Science Tools|
| -------- |
| Jupyter Notebook |
| RStudio |
| Apache Spark |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

In [13]:
minutes = 200
hours = minutes /60
print(hours)

3.3333333333333335